<ion-view title="{{patientInfo.first_name}} {{patientInfo.last_name}}"
          view-title="{{patientInfo.first_name}} {{patientInfo.last_name}}">
        <ion-tabs class="tabs-striped tabs-icon-top tabs-background-stable">
            <ion-tab title="Patient Info" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                <ion-pane>
                    <ion-content padding="true" scroll="true" class="has-header">
                        <form name="patientForm" ng-submit="inlinePatientInfoSave(patientInfo)">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <label class="item item-input">
                                    <div class="col">
                                    <span class="input-label">First Name</span>
                                    <input type="text" placeholder="First Name" ng-model="patientInfo.first_name">
                                    </div>
                                    <div class="col">
                                        <span class="input-label">Last Name</span>
                                        <input type="text" placeholder="Last Name" ng-model="patientInfo.last_name">
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="card">
                            <div class="item item-text-wrap">
                                <label class="item item-input">
                                    <span class="input-label">Email</span>
                                    <input type="email" placeholder="Email" ng-model="patientInfo.email">
                                </label>
                            </div>
                        </div>
                        <div class="card">
                            <div class="item item-text-wrap">
                                <label class="item item-input">
                                    <span class="input-label">Joined Since {{patientInfo.joined_on | date: 'dd/MM/yyyy'}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="card">
                            <div class="item item-text-wrap">
                                <label class="item item-input">
                                    <div class="col">
                                        <span class="input-label">Address </span>
                                        <input type="text" placeholder="Address" ng-model="patientInfo.address">
                                    </div>
                                    <div class="col">
                                        <span class="input-label">Phone </span>
                                        <input type="text" placeholder="Phone" ng-model="patientInfo.phone">
                                    </div>
                                </label>
                            </div>
                        </div>
                            <button type="submit" class="button icon-right ion-checkmark-circled" ng-click="inlinePatientInfoSave(patientInfo)" ng-disabled="patientForm.$invalid"> Save</button>
                        </form>
                    </ion-content>
                </ion-pane>
                <!-- Tab 1 content -->

            </ion-tab>
            <ion-tab title="Visit History" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                <!-- Tab 2 content -->
            </ion-tab>

        </ion-tabs>
    <!--</ion-content>-->
</ion-view>
